# ======================================
# PYTHON
# ======================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual environment
.venv/
venv/
env/
ENV/

# Local environment variables
.env
*.env

# ======================================
# PLAYWRIGHT
# ======================================

# Playwright artifacts
playwright-report/
test-results/
blob-report/
trace/
*.zip

# Playwright reports gerados internamente
**/playwright-report/
**/test-results/

# ======================================
# PYTEST
# ======================================
.pytest_cache/
.cache/

# ======================================
# EDITOR / IDE SETTINGS
# ======================================
.vscode/
.idea/
*.swp

# ======================================
# CONFIGURAÇÕES E ARQUIVOS QUE NÃO PRECISAM IR PRO GIT
# ======================================
tree.txt
structure/
pip/
pytest/